* {
    border: none;
    border-radius: 0;
    font-family: "Source Code Pro";
    font-size: 12px;
    min-height: 0;
}

widget {
    border-left: 0.5pt solid rgba(34, 34, 96, 170);
}

widget > label {
    padding-left:  6px;
    padding-right: 6px;
}

window#waybar {
    background: linear-gradient(rgba(68, 102, 170, 170), transparent);
    color: white;
}

#workspaces button {
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    border-left: 0.5pt solid rgba(34, 34, 96, 170);
}

#workspaces button:hover {
    background: linear-gradient(black, transparent);
    border-left: 0.5pt solid rgba(34, 34, 96, 170);
}

#workspaces button.focused {
    background: linear-gradient(rgba(96, 128, 192, 170), transparent);
}

@keyframes blink {
    to {
        background-color: #ff0000;
    }
}
#workspaces button.urgent {
    background-color: #854445;

    animation-name: blink;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: 10;
    animation-direction: alternate;
}

#tray widget {
    border: none;
}
#tray {
    padding-left: 10px;
    padding-right: 10px
}
